.rlink {
  font-family: 'Open Sans';
  /* text-decoration: none !important; */
  color: white !important;
  padding: 20px 10px 20px 0px;
}

.rlink:hover {
  color:gray;
  opacity: 0.8;
}

.form-card {
  border-radius: 15px !important;
  margin: 0 auto;
} 

.signup-card {
  width: 25em;

}

.main-navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  color: white !important;
}

input, button {
  border-radius: 15px !important;
}

.alert-bt {
  margin-top: 15px;
  border-radius: 15px;
}